/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: pink;
$primary-font: 'Roboto', sans-serif;

* {
  border: red 1px solid;
  font-family: $primary-font;
}

body {
  background-color: $primary-background;
}

.splash {

  &.splash-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 10% auto;
    width: 50%;
  }
  
  &.splash-h2,
  &.splash-spinner,
  &.splash-button {
    font-size: 21px;
    margin: auto;
    // text-align: center;
  }
}
