$primary-background: black;
$orange: #DF5F18;
$maroon: #981f24;
$blue: #00FFFF;
$grey: #dee4ef;

$primary-font: 'Roboto', sans-serif;
$text-light: #dee4ef;
$text-dark: black;

$accent: #DF5F18;
$background: #981f24;
$tabs: #DF5F18;
$panel: #f5f5f5;

//21, 26, 33, 41, 51, 64, 80

* {
  box-sizing: border-box;
  font-family: $primary-font;
}

body {             
  margin: 0;
  padding: 0;
  width: 100%;
}      

html {
  background-color: $primary-background;
  background-image: url('../images/Overlook_background.png');
  background-position: right;
  background-size: 60%;
  font-weight: 400;
  height: 100vh;
}

.splash {
  
  &.splash-div {
    background-color: $orange;
    opacity: .98;
    border: 26px solid $maroon;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 410px;
    margin: 10% auto;
    width: 50%;
  }

  &.splash-h3 {
    font-size: 33px;
    letter-spacing: 3px;
    line-height: 10px;
    margin: auto;
  }
  
  &.splash-h2,
  &.splash-spinner {
    color: $blue;
    font-family: $primary-font;
    font-size: 64px;
    height: 50px;
    letter-spacing: 2px;
    line-height: 10px;
    margin: 10px auto;
  }

  &.splash-button {
    border: 3px solid $maroon;
    color: $maroon;
    font-size: 21px;
    height: 41px;
    letter-spacing: 3px;
    margin: auto;
    width: 33%;
  }
}

header {
  background-color: $maroon;
  border-bottom: 10px solid $orange;
	color: $maroon;
  display: flex;
	flex-direction: row;
	margin: 0px auto 41px auto;
  width: 100%;
  
  .logo {
    height: 90px;
    padding: 10px 0 10px 33px;
  }
	
	h1 {
		align-content: flex-start;
		color: $text-light;
		font-size: 51px;
    margin: 20px 0px;
    padding-left: 21px;
	}
	
	aside {
		align-self: center;
		background-color: $grey;
		border-left: 10px $blue solid;
		border-radius: 8px 4px 0px 0px;
		display: flex;
		flex-direction: column;
		height: 60px;
		margin-left: auto;
		padding: 5px;
		width: 350px;
	}

	h2, h3 {
		align-content: flex-start;
		color: $maroon;
		font-size: 16px;
		justify-content: center;
		padding: 5px;
		margin: 0;

		.header-name {
			font-style: italic;
		}
	}
}

main {
  height: 100%;
  margin: 0 auto;
	width: 100%;

	section {
		height: 425px;
		border-left: 10px $maroon solid;
    border-radius: 4px 4px 0px 0px;
    margin: 0 33px 41px 33px;
	}

	ul.tabs {
		margin: 0 20px;
    padding: 0px 20px;
    list-style: none;
    display: flex;
		justify-content: space-around;
	}

	ul.tabs li {
		box-sizing: border-box;
		background: $maroon;
		border-left: 5px $blue solid;
    border-radius: 4px 4px 0px 0px;
    color: $text-light;
    cursor: pointer;
		padding: 10px 20px;
		margin: 0px 3px;
		width: 25%;
	}

	ul.tabs li.current {
		background: $panel;
		border-left: 5px $maroon solid;
		color: $text-dark;
		text-decoration: underline #0B0C10;
	}

	.tabs li:hover {
		color: $text-dark;
		background-color: $grey;
		border-left: 5px $orange solid;
	}

	.tab-content {
		display: none;
		background: $panel;
		padding: 15px;
	}

	.tab-content.current {
		display: inherit;

		input, button {
			display: inline;
		}

		h4, p {
			display: block;
		}
	}
}

.div-main-content {
	display: flex;
  flex-direction: row;

  aside {
    background-color: $grey;
		border-left: 5px $maroon solid;
    border-radius: 4px 4px 0px 0px;
    height: 400px;
    padding: 10px;
    width: 24%;
    max-height: 100vh;
    overflow: scroll;

		& h4 {
			color: $text-dark;
			font-size: 16px;
			padding-left: 10px;
    }
    
    & h5, li{
      font-size: 16px;
      margin: 12px 0 2px -20px;
      padding: 2px auto;
    }

		& h6 {
      font-size: 12px;
      margin: 2px 0 2px -20px;
      padding: 2px auto;
		}
    
    & .left {
      justify-content: flex-start;
      margin-left: -2px;
    }
  
    & .right {
      justify-content: flex-end;
      margin-left: 20px;

      & h6 {
        font-size: 12px;
        margin: 2px 0 2px 30px;
        padding: 2px auto;
      }
    }
  }

  article {
		justify-content: center;
		height: 400px;
		margin: 0 20px;
    width: 50%;

    & .book-room-button {
    display: inline;
    margin: 2px;
    padding: 2px;
  }
    
    & h5{
      display: inline;
      margin: 2px;
      padding: 2px;
    }

    & h6 {
      display: block;
    }
  }

	button, input {
		border: 2px solid $text-light;
		border-radius: 2px;
		box-sizing: border-box;
		color: $background;
		font-family: $primary-font;
		font-size: 12px;
		margin: 2px;
		padding: 5px 10px;
	}

	button:hover {
		border-color: $text-dark;
	}

	button:active {
		background-color: $text-light;
		color: $text-dark;
	}

	.rooms-div {
		display: flex;
    flex-direction: row;
	}

	.given-day-rooms,
	.given-day-rooms2 {
	text-indent: -25px;
	// margin: 5px 10px;
	// width: 150px;
  // justify-content: space-around;
  max-height: 21vh;
  overflow: scroll;
	}
}

footer {
  background-color: black;
  border-top: 10px solid $orange;
  color: $maroon;
  height: 125px;
	line-height: 50px;
  margin: 80px 0 0 0;
	padding: 0px;
	text-align: center;
  width: 100%;

  & p {
    font-size: 21px;
    text-align: center;
  }
}